## Exploring Books Data from Kaggle

https://www.kaggle.com/datasets/programmerrdai/books-read

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [7]:
import os
path = !pwd
print(path)

['/Users/karishmavelagaleti/Documents/Data Science/Kaggle - Books Data']

In [8]:
# Listing all contents in the folder 
os.listdir(path[0])

['production-printed-books-half-century.csv',
 'Untitled.ipynb',
 'manuscript-production-century.csv',
 'new-books-per-million.csv',
 'annual-per-capita-consumption-books.csv',
 '.ipynb_checkpoints']

### Loading all data from all 4 csv files

In [16]:
production = pd.read_csv('production-printed-books-half-century.csv')
production.head()

    Entity Code  Year  Production of printed books per half century
0  Belgium  BEL  1475                                        394000
1  Belgium  BEL  1525                                       1963000
2  Belgium  BEL  1575                                       5720000
3  Belgium  BEL  1625                                       4334000
4  Belgium  BEL  1675                                       7203000

In [11]:
manuscript = pd.read_csv('manuscript-production-century.csv', index_col= False)
manuscript.head()

    Entity Code  Year  Manuscript production per century
0  Austria  AUT   550                                  0
1  Austria  AUT   650                                  0
2  Austria  AUT   750                               2735
3  Austria  AUT   850                               9414
4  Austria  AUT   950                                  0

In [12]:
new_books = pd.read_csv('new-books-per-million.csv')
new_books.head()

    Entity Code  Year  Book titles per capita (Fink-Jensen 2015)
0  Algeria  DZA  1953                                  10.596210
1  Algeria  DZA  1954                                   8.115622
2  Algeria  DZA  1963                                  12.596606
3  Algeria  DZA  1964                                  13.605609
4  Algeria  DZA  1965                                  10.950347

In [13]:
consumption = pd.read_csv('annual-per-capita-consumption-books.csv')
consumption.head()

    Entity Code  Year  Annual per capita consumption of books
0  Belgium  BEL  1475                                  0.0047
1  Belgium  BEL  1525                                  0.0177
2  Belgium  BEL  1575                                  0.0482
3  Belgium  BEL  1625                                  0.0332
4  Belgium  BEL  1675                                  0.0736

In [20]:
print('\nproduction-printed-books-half-century = ', len(production),
     '\nmanuscript-production-century = ', len(manuscript), 
     '\nnew-books-per-million = ', len(new_books), 
     '\nannual-per-capita-consumption-books = ', len(consumption))

production-printed-books-half-century =  91
manuscript-production-century =  110
new-books-per-million =  8312
annual-per-capita-consumption-books =  98